html {
    font-size: 20px;
}

body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto',
        'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans',
        'Helvetica Neue', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

@media screen and (min-device-width: 800px) {
    body {
        padding-top: 4rem;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    #root {
        min-width: 700px;
        box-shadow: 1px 1px 3px gray;
    }
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
        monospace;
}
